* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

@import 'media(1861)';

@import 'media(1860-1261)';

@import 'media(1260-1120)';

@import 'media(1119-891)';

@import 'media(890-761)';

@import 'media(760-360)';